
<form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>Current Organization Detail</mat-card-title>
        <mat-form-field appearance="fill">
            <mat-label>Joinnig Date</mat-label>
            <input matInput  [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Next Appraisal Date</mat-label>
            <input matInput  [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>&nbsp;&nbsp;&nbsp;<br>
        <mat-form-field appearance="fill">
            <mat-label>Current CTC</mat-label>
            <input matInput placeholder="Current CTC" formControlName="currentCtc" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <br>
           <div>
           </div>
           <div>
            <button  mat-button matStepperPrevious type="submit" class="btn btn-primary" >FINISH</button>
            <!-- <button  mat-button matStepperNext type="submit" class="btn btn-primary" >Nexr</button> -->
        </div>
     </mat-card>
</form>
