<form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>Personal Details</mat-card-title>
        <ng-template matStepLabel>Personal Details</ng-template>
        <div class="form-row">
            <mat-form-field class="col-md-3" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" required>
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            <mat-form-field class="col-md-3" appearance="fill">
                <mat-label>Middel Name</mat-label>
                <input matInput placeholder="Middel name" formControlName="middelName" required>
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            <mat-form-field class="col-md-3" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName" required>
            </mat-form-field>
            <br>
        </div>
        <div class="form-row">
            <mat-form-field class="col-md-3" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput email placeholder="Email" formControlName="email" required>
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            <mat-form-field class="col-md-3" appearance="fill">
                <mat-label>Mobile number</mat-label>
                <input matInput placeholder="Middel name" formControlName="mobileNumber" required>
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            <mat-form-field class="col-md-3" appearance="fill">
                <mat-label>Contact number</mat-label>
                <input matInput placeholder="Last name" formControlName="contactNumber" required>
            </mat-form-field><br>
        </div>
        <div class="form-row">
            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>Birth Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;&nbsp;

            <input type="file" class="btn btn-primary" (change)="onFileChange($event)" />&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger btn-lg btn-block" (click)="onClick()">Show File</button>
         
        </div>
        <div class="form-row">
            <mat-form-field class="col-md-4" appearance="fill">
                <mat-label>Present Address</mat-label>
                <textarea matInput placeholder="Last name" formControlName="presentAddress" required></textarea>
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            <mat-checkbox type="checkbox" name="check1" onchange="copyTextValue(this)" >click Me</mat-checkbox>&nbsp;&nbsp;&nbsp;
            <mat-form-field class="col-md-4" appearance="fill">
                <mat-label>Permanent Address</mat-label>
                <textarea matInput placeholder="Last name" value="getValue(box.value)"
                    formControlName="permanentAddress" required></textarea>
            </mat-form-field>
        </div>
    
            <div>
                <button mat-button matStepperNext type="submit" class="btn btn-primary">Next</button>
                <div class="input-group bmargindiv1 col-md-12">
                    <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Password :</span>
                    <input type="password" name="itemname" id="contactno" class="form-control" placeholder="password" ng-model="password">
                  </div>
                  <div class="input-group bmargindiv1 col-md-12">
                    <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Show me Password <input type="checkbox" ng-model="checkboxModel" ng-click="showHidePassword(checkboxModel)" /></span>
                    <input type="text" name="itemname" id="contactno" class="form-control" placeholder="password" ng-model="showPassword" readonly="readonly">
                  </div>
            </div>
    </mat-card>
</form>