<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text"  formControlName="email" placeholder="Enter Username" name="uname" required>
    <div style="color: red;"  *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
        Please provide a name.
      </div>
      
    <label for="psw"><b>Password</b></label>
    <input type="password"  formControlName="password" placeholder="Enter Password" name="psw" required>
    <div style="color: red;"  *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)">
        Please provide a password.
      </div>
    <button type="submit" [disabled]="!myForm" mat-raised-button color="accent">Login</button>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
<div>
  <table *ngFor="let player of users">
    <tr>
      <td>
        play
        {{player.name}}
      </td>
    </tr>
  </table>
</div>
</form>