<form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>Bank Detail{{userData}}</mat-card-title>
        <div class="form-row">
            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>Bank Name</mat-label>
                <input matInput placeholder="Bank name" formControlName="bankName" required>
            </mat-form-field>
            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>Account Name</mat-label>
                <input matInput placeholder="Account name" formControlName="accountName" required>
            </mat-form-field>
        </div>
        <br>
        <div class="form-row">
            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>Bank Account Number</mat-label>
                <input matInput placeholder="Bank Account Number" type="number" formControlName="bankAcNum" required>
            </mat-form-field>
            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>IFSC Code</mat-label>
                <input matInput placeholder="IFSC Code" formControlName="ifscCode" required>
            </mat-form-field>
        </div>
        <br>
        <div class="form-row">
            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>Aadhaar Card Number</mat-label>
                <input matInput type="number" placeholder="Aadhaar Card Number" formControlName="AadhaarNum" required>
            </mat-form-field>
            <mat-form-field class="col-md-5" appearance="fill">
                <mat-label>Pan Card Number</mat-label>
                <input matInput placeholder="Pan Card Number" formControlName="panCardNum" required>
            </mat-form-field>
        </div>
        <br>
            <div>
                <button  mat-button matStepperPrevious type="submit" mat-raised-button color="accent" >Previous</button>&nbsp;&nbsp;&nbsp;
                <button  mat-button matStepperNext type="submit" class="btn btn-primary" >Next</button>
            </div>
    </mat-card>
</form>