<div class="container">
    <div class="row">
      <div class="col-10">
        <div class="jumbotron">
          <h2>Product Form</h2>
          <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text"  class="form-control" formControlName="productName" [ngClass]="{'is-invalid':form.get('productName').touched && form.get('productName').invalid}" required />
              <div class="invalid-feedback">
                <div>Product Name is required</div>
              </div>
            </div><br>
           <div class="form-group">
                <label>Title</label>
                <select formControlName="title" class="form-control" [ngClass]="{'is-invalid':form.get('title').touched && form.get('title').invalid}">
                    <option value=""></option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                    <option value="Ms">Ms</option>
                </select>
          <!-- <div *ngIf="submitted && form.errors" class="invalid-feedback">
                    <div *ngIf="form.errors.required">Title is required</div>
                </div>  -->
                <div class="invalid-feedback">
                    <div>Product type is required</div>
                    </div> 
       </div> <br>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" formControlName="price" [ngClass]="{'is-invalid':form.get('price').touched && form.get('price').invalid}" required />
              <div class="invalid-feedback">
                <div>Price is required</div>
              </div><br>
            </div><br>
            <div class="form-group radio">
                <h4>Discount</h4>
                <label class="center-block"><input type="radio" formControlName="power" value="Offer">Offer</label><br>
                <label class="center-block"><input type="radio" formControlName="power" value="Discount">Discount</label><br>
                <label class="center-block"><input type="radio" formControlName="power" value="No Offer">No Offer</label>
              </div>
              <div class="checkbox">
                <!-- <label class="center-block">
                  <input type="checkbox" formControlName="sidekick">I have a sidekick.
                </label> -->
              </div>
         
            <div class="form-group">
              <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
            </div>
            <div>
                <table><tr><td>
                 {{submittedData.power}}</td></tr>
                <tr><td>{{submittedData.title}} </td> </tr>
                <tr><td>{{submittedData.price}} </td> </tr>
            
            </table></div> 
          </form>
        </div>
      </div>
    </div>
  </div>