
<form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
    <mat-card>
    
        <mat-card-title>Professional Detail</mat-card-title>
        <div class="form-row">
        <mat-form-field class="col-md-5" appearance="fill">
            <mat-label>Designation</mat-label>
            <input matInput placeholder="Designation" formControlName="Designation" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <mat-form-field class="col-md-5" appearance="fill">
            <mat-label>Department</mat-label>
            <input matInput placeholder="Department" formControlName="Department" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;<br></div>
        <div class="form-row">
        <mat-label>Experiance</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="col-md-2" appearance="fill">
            <mat-label>years</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            <mat-form-field class="col-md-2" appearance="fill">
              <mat-label>Month</mat-label>
              <mat-select>
                  <mat-option *ngFor="let month of months" [value]="month.value">
                    {{month.viewValue}}
                  </mat-option>
                </mat-select>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <mat-form-field class="col-md-5" appearance="fill">
            <mat-label>Current Location</mat-label>
            <input matInput placeholder="Current Location" formControlName="currentLocation" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;<br></div>
        <mat-form-field class="col-md-5" appearance="fill">
            <mat-label>Skill</mat-label>
            <input matInput placeholder="Skill" formControlName="skill" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
           <div>
            <button  mat-button matStepperPrevious type="submit" mat-raised-button color="accent" >Previous</button>&nbsp;&nbsp;&nbsp;
            <button  mat-button matStepperNext type="submit" class="btn btn-primary" >Next</button>
            
            <input type="file" class="btn btn-primary" (change)="onFileChange($event)" />
            <button class="btn btn-danger btn-lg btn-block" (click)="onClick()">Show File</button>

        </div>
     </mat-card>
     <img [src]="fileData" alt="">
</form>
